#carrouselBox{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 55vh;
    background-image: linear-gradient(to right,rgb(56, 72, 140), rgb(98, 124, 241));
    padding-top: 140px;
    
  
  }
  
  #Home{
    height: 70vh;
    width: 100%;
  }
  
 .textbox{
background-color: rgb(0, 0, 0);
}

  #Home img{
    height: 70vh;
    border-top: 10px;
    border-bottom: 10px;
    border-left: 0;
    border-right: 0;
    border-style: outset;
    border-color: rgb(206, 189, 36);
  }
  
  #Home p{
   font-family: 'Bebas Neue', cursive;
  }
  #Home h3{
    font-family: 'Bebas Neue', cursive;
   }
   #Home button{
    background-color: black;
   }
  
   